@{
    ViewBag.Title = "TestView";
}

<h2>LyfItemVM 的测试视图</h2>

<link href="~/Content/LyfItemVM.css" rel="stylesheet" />

<fieldset>
    <div id="div_Title">
        <h1>Button</h1>
        <p>
            表示可用来提交或充值表单的按钮（或一般按钮）
        </p>
    </div>
    <div id="div_Table">
        <div class="row">
            <div class="cell cell_exm_h">
                <div id="div_h2_border">
                    <h2>示例1</h2>
                </div>
            </div>
            <div class="cell cell_view_h">
                <div id="div_h2_border">
                    <h2>预览</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell cell_exm_b">
                <p>
                    <pre><code>
LyfItemVM itmVM = new LyfItemVM
{
    ItemName = "Saga1"
};
                    </code></pre>
                </p>
            </div>
            <div class="cell cell_view_b">
                <p>
                    <code style="font-family:Consolas">
                        LyfItemVM itmVM = new LyfItemVM<br />
                        {<br />
                        ItemName = "中文"<br />
                        };
                    </code>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="cell cell_exm_h">
                <div id="div_h2_border">
                    <h2>示例2</h2>
                </div>
            </div>
            <div class="cell cell_view_h">
                <div id="div_h2_border">
                    <h2>预览</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell cell_exm_b">
                <p>
                    <code>
                        LyfItemVM itmVM = new LyfItemVM<br />
                        {<br />
                        ItemName = "Saga2"<br />
                        };
                    </code>
                </p>
            </div>
            <div class="cell cell_view_b">
                <p>
                    <code style="font-family:Consolas">
                        LyfItemVM itmVM = new LyfItemVM<br />
                        {<br />
                        ItemName = "中文"<br />
                        };
                    </code>
                </p>
            </div>
        </div>
    </div>
</fieldset>
