/* --- LyfItemVM 的通用部分 --- */

fieldset {
    padding: 0em;
    border-color: transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
}

code {
    font-family: Consolas;
    font-size: larger;
}

.hr1 {
    border: dotted;
    border-width: 1px;
    border-color: black;
}

.hr2 {
    border: solid;
    border-width: 1px;
    border-color: black;
}

/* --- 以下定义用于描述项目的 标题名称及其详细内容 的样式 --- */

#div_Title {
    padding: 1em 2em;
    background-color: midnightblue;
}

    #div_Title > h1 {
        margin: 0em;
        font-size: xx-large;
        font-family: 'Microsoft YaHei';
        color: white;
    }

    #div_Title > p {
        font-family: 'Microsoft YaHei';
        color: white;
    }

/* --- 以下定义用于描述 项目内容 的样式，如示例、预览等 --- */

#div_Table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

div.row {
    display: table-row;
    margin: 0em;
    padding: 0em;
}

div.cell {
    display: table-cell;
    padding: 0px;
}

div.cell_exm_h {
    width: 70%;
}

div.cell_exm_b {
    width: 70%;
}

div.cell_view_h {
    opacity: 0.9;
}

div.cell_view_b {
}

#div_Table h2 {
    font-size: large;
    font-family: 'Microsoft YaHei';
    margin: 0em;
    padding: .5em 2em;
    color: white;
    background-color: darkgreen;
}

#div_h2_border {
    padding-top: 1px;
}

#div_Table p {
    margin: 0em;
    padding: 2em 3em;
}
