/* --- LyfItemVM 的通用部分 --- */

fieldset {
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 0em;
    border-color: darkslategray;
    border-bottom-width: 1em;
}

code {
    font-family: Consolas;
}

.hr1 {
    border: dotted;
    border-width: 1px;
    border-color: darkslategray;
}

.hr2 {
    border: solid;
    border-width: 1px;
    border-color: darkslategray;
}

/* --- 以下定义用于描述项目的 标题名称及其详细内容 的样式 --- */

#div_Title {
    padding: 1em 2em 1em 2em;
    background-color: darkslategray;
}

    #div_Title > h1 {
        margin: 0em;
        font-weight: bold;
        font-size: x-large;
        font-family: 'Microsoft YaHei';
        color: white;
    }

    #div_Title > p {
        font-family: 'Microsoft YaHei';
        color: white;
    }

/* --- 以下定义用于描述 项目内容 的样式，如示例、预览等 --- */

#div_Table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

div.row {
    display: table-row;
}

div.cell {
    display: table-cell;
    border-bottom: solid darkslategray;
    border-bottom-width: 0.3em;
    padding: 1em 1em 1em 2em;
}

div.cell_exm {
    width: 70%;
}

div.cell_view {
    border-left: thin solid darkslategray;
    border-top-left-radius: 10px 10px;
}

#div_Table h2 {
    margin: 0em;
    font-weight: bold;
    font-size: large;
    font-family: 'Microsoft YaHei';
    color: darkslategray;
}
