@*@model IEnumerable<SportsStore.Domain.Entities.Product>*@
@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@*@foreach (var p in Model)*@
@foreach (var p in Model.Products)
{
    @*<div class="item">*@
        @*<h3>@p.Name</h3>*@
        @*@p.Description*@
        @* 使用 ToString("c") 方式会使在转换字符串时根据服务器语言设置以不的货比形式展示结果，
            但需要在Web.config 的 <system.web> 节点下添加节点：<globalization culture="fr-FR"
            uiCulture="fr-FR"/> *@
        @*<h4>@p.Price.ToString("c")</h4>*@
    @*</div>*@

    // 使用分部视图
    // RenderPartial 方法和其他大多数辅助器方法不同，他不返回 HTML 标记，而是直接把内容写到响应流，因此，必须有一个分号，且项一个完整的 c# 程序行一样来调用，
    // 如果想保持语法一致，可以使用 Partial 方法，如：@Html.Partial("ProductSummary", p)
    Html.RenderPartial("ProductSummary", p);
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { Page = x }))
</div>

